body {
    font-family: Arial Black;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #FFFFFF 1px, rgba(0, 0, 0, 0) 1px);
}

.Counter {
    font-size: 100px;
    margin: 0%;
}

div {
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 25px;
}

.counterdiv {
    width: 250px;
}

button {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.background-grid {
  background-image: linear-gradient(#1f1f1f 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #1f1f1f calc(100% - 1.5px)), linear-gradient(90deg, #1f1f1f 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #1f1f1f calc(100% - 1.5px));
  background-size: 3.3333333333333335% 6.666666666666667%;
  border: 1.5px solid #1f1f1f;
}

.shop {
    background: none;
}

.MoneyCounter {
    color: lightgreen;
    font-size: 100px;
    margin: 0%;
}

.shoptext {
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 25px;
}

.flexdiv {
    display: flex;
    margin-right: 50px;
}

.moneycountertext {
    color: lightgreen;
}
